@import "../../../../assets/scss/style.scss";

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
  flex: 0 0 14%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
  flex: 0 0 30%;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
  flex: 0 0 30%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
  flex: 0 0 10%;
}

mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
  flex: 0 0 10%;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
