<div class="col-11 mx-auto center-component main-conteiner">
  <div class="card mx-auto bg-light">
    <div class="container bg-white col-11 rounded mt-3">
      <div class="row">
        <div class="col-12 text-center">
          <h1
            class="font-weight-bold"
            style="font-size: 25px; color: #2b317f"
            mat-dialog-title
          >
            Formulario Patrocinador
          </h1>
          <!-- <hr class="hr" width="75%"> -->
        </div>
      </div>
      <div>
        <form [formGroup]="formPatrocinador">
          <div class="item">
            <div class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Nombre </mat-label>
                <input
                  matInput
                  placeholder="nombre"
                  formControlName="nombre"
                  required
                />
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.nombre.dirty &&
                    this.formPatrocinador.controls.nombre.hasError('required')
                  "
                  >Este campo es obligatorio
                </mat-error>
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.nombre.dirty &&
                    (this.formPatrocinador.controls.nombre.hasError(
                      'maxlength'
                    ) ||
                      this.formPatrocinador.controls.nombre.hasError(
                        'minlength'
                      ))
                  "
                  >El texto no debe ser mayor a 75 caracteres o menor a 4
                  caracteres</mat-error
                >
              </mat-form-field>
            </div>

            <div class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input
                  matInput
                  type="tel"
                  formControlName="telefono"
                  required
                />
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.telefono.dirty &&
                    this.formPatrocinador.controls.telefono.hasError(
                      'required'
                    )
                  "
                  >Este campo es obligatorio</mat-error
                >

                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.telefono.dirty &&
                    (this.formPatrocinador.controls.telefono.hasError(
                      'maxlength'
                    ) ||
                      this.formPatrocinador.controls.telefono.hasError(
                        'minlength'
                      ))
                  "
                  >El numero de telefono debe ser de 8 caracteres</mat-error
                >
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.telefono.dirty &&
                    this.formPatrocinador.controls.telefono.hasError(
                      'pattern'
                    )
                  "
                  >Solo se permiten valores numericos
                  <p></p>
                </mat-error>
              </mat-form-field>
              <p
                *ngIf="
                  this.formPatrocinador.controls.telefono.dirty &&
                  this.formPatrocinador.controls.telefono.hasError('pattern')
                "
              ></p>
            </div>

            <div class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label> Correo</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="correo@example.com"
                  formControlName="correo"
                  required
                />
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.correo.dirty &&
                    this.formPatrocinador.controls.correo.hasError('required')
                  "
                  >Este campo es Obligatorio</mat-error
                >
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.correo.dirty &&
                    this.formPatrocinador.controls.correo.hasError('email')
                  "
                  >correo invalido</mat-error
                >
              </mat-form-field>
            </div>

            <div class="item2">
              <div class="col">
                <label class="example-margin">Apoyo Economico:</label>
                <mat-radio-group
                  [(ngModel)]="apoyoEconomico"
                  formControlName="apoyo"
                >
                  <mat-radio-button class="example-margin" value="S"
                    >Si</mat-radio-button
                  >
                  <mat-radio-button class="example-margin" value="N"
                    >No</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>

            <div *ngIf="apoyoEconomico === 'S'" class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label> Monto </mat-label>
                <input
                  placeholder="Q"
                  matInput
                  formControlName="monto"
                  required
                  type="number"
                />
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.monto.dirty &&
                    this.formPatrocinador.controls.monto.hasError('required')
                  "
                  >Este campo es Obligatorio</mat-error
                >
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.monto.dirty &&
                    this.formPatrocinador.controls.monto.hasError(
                      'pattern'
                    )
                  "
                  >Solo se permiten valores enteros
                  <p></p>
                </mat-error>
              </mat-form-field>
            </div>
            <div *ngIf="apoyoEconomico === 'N'" class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label> Otro </mat-label>
                <input
                  placeholder=""
                  matInput
                  formControlName="otro"
                  required
                  type="text"
                />
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.otro.dirty &&
                    this.formPatrocinador.controls.otro.hasError('required')
                  "
                  >Este campo es Obligatorio</mat-error
                >

                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.otro.dirty &&
                    (this.formPatrocinador.controls.otro.hasError(
                      'maxlength'
                    ) ||
                      this.formPatrocinador.controls.otro.hasError(
                        'minlength'
                      ))
                  "
                  >El texto no debe ser mayor a 50 caracteres o menor a 10
                  caracteres</mat-error
                >
              </mat-form-field>
            </div>

            <div class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label> ¿Que esperas luego del patrocinio?</mat-label>
                <input matInput formControlName="afterPatrocinio" required />
                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.afterPatrocinio.dirty &&
                    this.formPatrocinador.controls.afterPatrocinio.hasError(
                      'required'
                    )
                  "
                  >Este campo es Obligatorio</mat-error
                >

                <mat-error
                  *ngIf="
                    this.formPatrocinador.controls.afterPatrocinio.dirty &&
                    (this.formPatrocinador.controls.afterPatrocinio.hasError(
                      'maxlength'
                    ) ||
                      this.formPatrocinador.controls.afterPatrocinio.hasError(
                        'minlength'
                      ))
                  "
                  >El texto no debe ser mayor a 100 caracteres o menor a 10
                  caracteres</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="row justify-content-center mt-2">
          <button mat-raised-button class="btn" (click)="regresar()">
            <i class="fa fa-angle-left mr-2"></i>
            REGRESAR
          </button>
          <button
            mat-raised-button
            class="btn ml-2"
            type="submit"
            (click)="generarSolicitud()"
            [disabled]="!formPatrocinador.valid"
          >
            <i class="material-icons mr-2"> group_add </i>
            <span>Guardar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
