<section class="section">
  <div class="mx-1 px-1 mx-sm-2 px-sm-2 mx-md-3 px-md-3 mx-lg-4 px-lg-4 mx-xl-5 px-xl-5">
    <div class="mt-5">
      <button mat-raised-button color="accent" class="btn-rounded btn-container mr-3" (click)="regresar()">
        <mat-icon>arrow_back</mat-icon>
        Regresar
      </button>
      <button mat-raised-button color="accent" class="btn-rounded btn-container" (click)="crearCriterio()">
        <mat-icon>add</mat-icon>
        Crear Criterio
      </button>
    </div>
    <div class="mat-elevation-z8 mt-4">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="noCriterio">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header-table start">No
          </mat-header-cell>
          <mat-cell *matCellDef="let criterios " data-label="noCriterio ">{{ criterios.noCriterio }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombreCriterio">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header-table">Nombre Criterio</mat-header-cell>
          <mat-cell *matCellDef="let criterios" data-label="nombreCriterio">
            {{ criterios.nombreCriterio |uppercase}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ponderacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header-table">Ponderación</mat-header-cell>
          <mat-cell *matCellDef="let criterios" data-label="ponderacion">
            {{ criterios.ponderacion }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header-table">Estado</mat-header-cell>
          <mat-cell *matCellDef="let criterios" data-label="estado">
            {{ criterios.estado|uppercase}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef class="header-table end">Acción</mat-header-cell>
          <mat-cell *matCellDef="let criterios" data-label="Acciones">
            <button mat-icon-button (click)="editarUsuario(criterios)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumnns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumnns"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</section>
