<nav id="nav-bar" class="navbar navbar-expand-lg custom-nav navbar-light fixed-top sticky">
  <div class="container">
    <a class="navbar-brand logo" href="/home">
      <img src="assets/img/logo-enactus.svg" alt="" class="img-fluid logo-dark">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="mdi mdi-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" id="main_nav">
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" [class.active]="section == 'home'" (click)="changeOption('home')">Inicio</a>
        </li>
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" [class.active]="section == 'about'" (click)="changeOption('about')">Conoce más</a>
        </li>
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" [class.active]="section == 'emp'" (click)="changeOption('emp')">Emprendimiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="section == 'contact'" (click)="changeOption('contact')">Contactanos</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLogged()">
          <a class="nav-link" [class.active]="section == 'login'" (click)="changeOption('login')">
            Iniciar Sesión
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link navbar-link-container active">
            <mat-icon>account_circle</mat-icon>
            crramosl6
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div scrollSpy [spiedTags]="['DIV']" [offset]="80" (sectionChange)="onSectionChange($event)">
  <div id="home">
    <section class="home_main_sec" id="home-anchor">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let item of items">
          <div class="d-block w-100">
            <div class="header_content text-center">
              <h1 class="text-capitalize mt-4 mb-0 mx-auto">
                {{item.title}}
              </h1>
              <p class="mt-4 mx-auto sub_title">
                {{item.content}}
              </p>
            </div>
            <div class="mx-auto mt-4">
              <img [src]="item.image" alt="home side images" class="w-100">
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="client_logo mt-3">
              <img src="assets/img/logo_ecofiltro.png" alt="logo" class="img-fluid mx-auto d-block">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="client_logo mt-3">
              <img src="assets/img/logo_kingo.png" alt="logo" class="img-fluid mx-auto d-block">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="client_logo mt-3">
              <img src="assets/img/logo_maravillas.png" alt="logo" class="img-fluid mx-auto d-block">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="client_logo mt-3">
              <img src="assets/img/umg.png" alt="logo" class="img-fluid mx-auto d-block">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sec_divider mx-auto"></section>
  </div>

  <div id="about">
    <section class="section" style="position: relative;">
      <div id="about-anchor" style="position: absolute; top: -50px; left: 0"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="sec_main_head_title mx-auto">
              <h2 class="text-center">¿Qué es enactus?</h2>
              <p class="text-muted mt-3 text-justify mx-auto">
                Enactus es una organización internacional sin fines de lucro que busca desarrollar a las comunidades en
                donde tiene operaciones. Actualmente, se encuentra en 36 países beneficiando a más de un millón de
                personas,
                desde el 2004 realizan funciones en Guatemala.
                <br><br>
                Las gestiones en nuestro país se realizan a través de proyectos empresariales sostenibles establecidos
                en
                comunidades, en donde se ejecutan ideas de negocios que permiten la transformación de la vida de todos
                los
                involucrados en el área personal, profesional, de formación, económica, entre otras.
                <br><br>
                Los proyectos son creados y desarrollados por alumnos universitarios quienes los implementan en las
                poblaciones elegidas con el apoyo de catedráticos, organizadores de Enactus Guatemala, empresarios,
                entre
                otros; quienes trabajan en conjunto para generar acciones emprendedoras.
              </p>
            </div>
          </div>
          <div class="row mt-5 align-items-center px-3">
            <div class="col-lg-6">
              <div class="content_features mx-auto mt-3">
                <h3 class="content_main_title mb-0 mt-4">Misión</h3>
                <p class="text-muted sub-title mt-4 text-justify">
                  Somos un voluntariado que impacta a comunidades en su medio de sustento y a universitarios en su vida
                  profesional, a través de la gestión de proyectos sostenibles.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="side_img_content mt-3">
                <img src="assets/img/vision.png" alt="com" class="img-fluid mx-auto d-block">
              </div>
            </div>
          </div>

          <div class="features_divider"></div>

          <div class="row mt-5 align-items-center px-3">
            <div class="col-lg-6">
              <div class="side_img_content mt-3">
                <img src="assets/img/mision.png" alt="com" class="img-fluid mx-auto d-block">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="content_features mx-auto mt-3">
                <h3 class="content_main_title mb-0 mt-4">Visión</h3>
                <p class="text-muted sub-title mt-4 text-justify">
                  Ser los representantes nacionales de la competencia mundial de Enactus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="bg-custom section">
    <div class="curv_top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
        <path fill="#fff" d="M3000,185.4V0H0v185.4C496.4,69.8,996.4,12,1500,12S2503.6,69.8,3000,185.4z"></path>
      </svg>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="sec_main_head_title_bg pb-5 mx-auto text-center">
            <h2>Formas de Apoyo</h2>
            <p class="mt-3 mx-auto sub-title">
              Si deseas iniciar el proceso de vinculación con Enactus™ Universidad Mariano Gálvez, lo puedes realizar a
              través de las
              siguietes opciones.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ser_sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="ser_bor_boxes mt-3" id="accordion">
            <div class="d-flex" id="headingOne">
              <div class="ser_icon mr-4">
                <img src="assets/img/idea.png" alt="icon" height="44px;" class="me-4">
              </div>
              <div class="ser_content">
                <h4>Hub de emprendimiento</h4>
                <p class="text-muted mb-0 mt-3 text-justify">
                  Este es un espacio dedicado, a la promoción y acceso práctico al desarrollo del emprendimiento, a
                  través de asesorías, formación, capacitación de acuerdo a las necesidades particulares de los
                  emprendimientos.
                </p>
              </div>
            </div>
            <a mat-icon-button data-bs-toggle="collapse" href="#moreHub" role="button" aria-expanded="false"
              aria-controls="moreHub" class="expand_icon">
              <mat-icon>expand_more</mat-icon>
            </a>
            <div class="collapse" id="moreHub">
              <div class="ser_content">
                <p class="text-muted mb-0 mt-3 text-justify">
                  Entidad o persona individual, que busca patrocinar una idea de emprendimiento, a través de apoyo
                  económico o bien en forma de insumos para la realización del proyecto
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ser_bor_boxes mt-3">
            <div class="d-flex">
              <div class="ser_icon mr-4">
                <img src="assets/img/enacter.png" alt="icon" height="44px;" class="me-4">
              </div>
              <div class="ser_content">
                <h4>Enacter</h4>
                <p class="text-muted mb-0 mt-3 text-justify">
                  Estudiante universitario de la UMG, no importa la carrera. Que busca pertenecer a un voluntariado que
                  busca a través de la acción emprendedora buscar propiciar cambios personales y sociales en Guatemala
                </p>
              </div>
            </div>
            <a mat-icon-button data-bs-toggle="collapse" href="#moreEnacter" role="button" aria-expanded="false"
              aria-controls="moreEnacter" class="expand_icon">
              <mat-icon>expand_more</mat-icon>
            </a>
            <div class="collapse" id="moreEnacter">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6">
          <div class="ser_bor_boxes mt-3">
            <div class="d-flex">
              <div class="ser_icon mr-4">
                <img src="assets/img/sponsor.png" alt="icon" height="44px;" class="me-4">
              </div>
              <div class="ser_content">
                <h4>Patrocinador</h4>
                <p class="text-muted mb-0 mt-3 text-justify">
                  Entidad o persona individual, que busca patrocinar una idea de emprendimiento, a través de apoyo
                  económico o bien en forma de insumos para la realización del proyecto
                </p>
              </div>
            </div>
            <a mat-icon-button data-bs-toggle="collapse" href="#moreSponsor" role="button" aria-expanded="false"
              aria-controls="moreSponsor" class="expand_icon">
              <mat-icon>expand_more</mat-icon>
            </a>
            <div class="collapse" id="moreSponsor">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ser_bor_boxes mt-3">
            <div class="d-flex">
              <div class="ser_icon mr-4">
                <img src="assets/img/advisor.png" alt="icon" height="44px;" class="me-4">
              </div>
              <div class="ser_content">
                <h4>Asesor</h4>
                <p class="text-muted mb-0 mt-3 text-justify">
                  Entidad o persona individual, que desde su propio expertis brinda apoyo concreto en la formación
                  de los involucrados en enactus. Dedicando algunas horas de su tiempo en asesorar los proyectos.
                </p>
              </div>
            </div>
            <a mat-icon-button data-bs-toggle="collapse" href="#moreAdvisor" role="button" aria-expanded="false"
              aria-controls="moreAdvisor" class="expand_icon">
              <mat-icon>expand_more</mat-icon>
            </a>
            <div class="collapse" id="moreAdvisor">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="footer_main_divider"></div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer_logo mt-4">
          <img src="assets/img/logo-enactus.svg" alt="logo-dark" class="img-fluid">
          <p class="text-muted sub-title mt-2">Enactus™ Universidad Mariano Gálvez</p>
          <ul class="list-inline fot_social mt-4">
            <li class="list-inline-item"><a href="https://www.facebook.com/UMGEnactus/" class="social-icon"><i
                  class="mdi mdi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/enactusumg/" class="social-icon"><i
                  class="mdi mdi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer_menu mt-3">
          <h5 class="fw-bold">Formar parte</h5>
          <ul class="list-unstyled footer_menu_list mb-0 mt-4">
            <li><a href="#">Enacter</a></li>
            <li><a href="#">Patrocinador</a></li>
            <li><a href="#">Asesor</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer_menu mt-3">
          <h5 class="fw-bold">Empendimiento</h5>
          <ul class="list-unstyled footer_menu_list mb-0 mt-4">
            <li><a href="#">Aplicar</a></li>
            <li><a href="#">Requisitos</a></li>
            <li><a href="#">Saber más</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer_menu mt-3">
          <h5 class="fw-bold">Services</h5>
          <ul class="list-unstyled footer_menu_list mb-0 mt-4">
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Themes</a></li>
            <li><a href="#">Illustrations</a></li>
            <li><a href="#">UI Kit</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer_menu mt-3">
          <h5 class="fw-bold">More</h5>
          <ul class="list-unstyled footer_menu_list mb-0 mt-4">
            <li><a href="#">Documentation</a></li>
            <li><a href="#">License</a></li>
            <li><a href="#">Changelog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
