<div class="login-container">
  <div class="align-vertical-center">
    <section class="section">
      <div class="container">
        <div class="cta_section mt-5">
          <div class="row cta_content text-center">
            <div class="col-sm-6 d-flex justify-content-center">
              <img src="assets/img/recover{{step+1}}.svg" style="width: 90%;">
            </div>
            <div class="col-sm-6 d-flex justify-content-center mt-4">
              <section style="width: 90%;">
                <section>
                  <h1 tabindex="0">
                    {{step == 0 ? 'Solicitar Token' : step == 1 ? 'Validar Token' : 'Cambiar Contraseña'}}
                  </h1>
                  <form [formGroup]="recoverPasswordForm" class="login__container--form">
                    <div class="input" *ngIf="step == 0">
                      <mat-icon class="icon">mail</mat-icon>
                      <input aria-label="Correo Electrónico" type="text" placeholder="Correo Electrónico"
                        formControlName="email" />
                    </div>
                    <button mat-raised-button color="accent" class="button" (click)="requestRecoverPassword()"
                      *ngIf="step == 0">
                      Continuar
                    </button>
                    <div class="input" *ngIf="step == 1">
                      <mat-icon class="icon">pin</mat-icon>
                      <input aria-label="Token" type="text" placeholder="Token" formControlName="token" />
                    </div>
                    <button mat-raised-button color="accent" class="button" (click)="recoverPassword()"
                      *ngIf="step == 1">
                      Validar
                    </button>
                    <div class="input" *ngIf="step == 2">
                      <mat-icon class="icon">lock</mat-icon>
                      <input aria-label="Contraseña" type="{{hidePass ? 'password' : 'text'}}"
                        placeholder="Nueva Contrase&ntilde;a" formControlName="pass" />
                      <button mat-icon-button (click)="hidePass = !hidePass">
                        <mat-icon class="icon">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                    </div>
                    <div class="input" *ngIf="step == 2">
                      <mat-icon class="icon">lock</mat-icon>
                      <input aria-label="Contraseña" type="{{hidePassConf ? 'password' : 'text'}}"
                        placeholder="Confirmar Contrase&ntilde;a" formControlName="passConf" />
                      <button mat-icon-button (click)="hidePassConf = !hidePassConf">
                        <mat-icon class="icon">{{hidePassConf ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                    </div>
                    <div *ngIf="step == 2">
                      <mat-hint class="d-flex text-white">
                        <mat-icon style="font-size: 18px; font-weight: bold;" [class]="hasSpecialChar ? 'ok' : 'error'">
                          {{hasSpecialChar ? 'check' : 'close'}}
                        </mat-icon> Debe contener un caracter especial.
                      </mat-hint>
                      <mat-hint class="d-flex text-white">
                        <mat-icon style="font-size: 18px; font-weight: bold;"
                          [class]="hasUppercaseChar ? 'ok' : 'error'">
                          {{hasUppercaseChar ? 'check' : 'close'}}
                        </mat-icon> Debe contener una letra mayuscula.
                      </mat-hint>
                      <mat-hint class="d-flex text-white">
                        <mat-icon style="font-size: 18px; font-weight: bold;" [class]="hasNumberChar ? 'ok' : 'error'">
                          {{hasNumberChar ? 'check' : 'close'}}
                        </mat-icon> Debe contener un numero.
                      </mat-hint>
                      <mat-hint class="d-flex text-white">
                        <mat-icon style="font-size: 18px; font-weight: bold;" [class]="minMaxChar ? 'ok' : 'error'">
                          {{minMaxChar ? 'check' : 'close'}}
                        </mat-icon> Debe tener como mínimo 8 caracteres y 16 como máximo.
                      </mat-hint>
                    </div>
                    <button mat-raised-button color="accent" class="button" (click)="changePassword()"
                      *ngIf="step == 2">
                      Guardar Cambios
                    </button>
                  </form>
                </section>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
