<div class="col-11 mx-auto center-component main-conteiner">
  <div class="card mx-auto bg-light">
    <div class="container bg-white col-11 rounded mt-3">
      <div class="row">
        <div class="col-12 text-center">
          <h1
            class="font-weight-bold"
            style="font-size: 25px; color: #2b317f"
            mat-dialog-title
          >
            Solicitud de Emprendimiento
          </h1>
          <!-- <hr class="hr" width="75%"> -->
        </div>
      </div>
      <div >
        <form [formGroup]="formRequest">
          <div class="item">
            <div class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Nombre </mat-label>
                <input
                  matInput
                  placeholder="nombre"
                  formControlName="nombre"
                  required
                />
                <mat-error
                  *ngIf="
                    this.formRequest.controls.nombre.dirty &&
                    this.formRequest.controls.nombre.hasError('required')
                  "
                  >Este campo es obligatorio
                </mat-error>
                <mat-error
                  *ngIf="
                    this.formRequest.controls.nombre.dirty &&
                    (this.formRequest.controls.nombre.hasError(
                      'maxlength'
                    ) ||
                      this.formRequest.controls.nombre.hasError(
                        'minlength'
                      ))
                  "
                  >El texto no debe ser mayor a 75 caracteres o menor a 4
                  caracteres</mat-error
                >
              </mat-form-field>
            </div>

            <div class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label> Correo</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="correo@example.com"
                  formControlName="correo"
                  required
                />
                <mat-error
                  *ngIf="
                    this.formRequest.controls.correo.dirty &&
                    this.formRequest.controls.correo.hasError('required')
                  "
                  >Este campo es Obligatorio</mat-error
                >
                <mat-error
                  *ngIf="
                    this.formRequest.controls.correo.dirty &&
                    this.formRequest.controls.correo.hasError('email')
                  "
                  >correo invalido</mat-error
                >
              </mat-form-field>
            </div>

            <div class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input
                  matInput
                  type="tel"
                  formControlName="telefono"
                  required
                />
                <mat-error
                  *ngIf="
                    this.formRequest.controls.telefono.dirty &&
                    this.formRequest.controls.telefono.hasError(
                      'required'
                    )
                  "
                  >Este campo es obligatorio</mat-error
                >

                <mat-error
                  *ngIf="
                    this.formRequest.controls.telefono.dirty &&
                    (this.formRequest.controls.telefono.hasError(
                      'maxlength'
                    ) ||
                      this.formRequest.controls.telefono.hasError(
                        'minlength'
                      ))
                  "
                  >El numero de telefono debe ser de 8 caracteres</mat-error
                >
                <mat-error
                  *ngIf="
                    this.formRequest.controls.telefono.dirty &&
                    this.formRequest.controls.telefono.hasError(
                      'pattern'
                    )
                  "
                  >Solo se permiten valores numericos
                  <p></p>
                </mat-error>
              </mat-form-field>
              <p
                *ngIf="
                  this.formRequest.controls.telefono.dirty &&
                  this.formRequest.controls.telefono.hasError('pattern')
                "
              ></p>
            </div>

            <div  class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label> ¿Cómo contactó con nosotros?</mat-label>
                <input matInput formControlName="dateRequest" required />
                <mat-error
                  *ngIf="
                    this.formRequest.controls.dateRequest.dirty &&
                    this.formRequest.controls.dateRequest.hasError(
                      'required'
                    )
                  "
                  >Este campo es Obligatorio</mat-error
                >

                <mat-error
                  *ngIf="
                    this.formRequest.controls.dateRequest.dirty &&
                    (this.formRequest.controls.dateRequest.hasError(
                      'maxlength'
                    ) ||
                      this.formRequest.controls.dateRequest.hasError(
                        'minlength'
                      ))
                  "
                  >El texto no debe ser mayor a 100 caracteres o menor a 10
                  caracteres</mat-error
                >
              </mat-form-field>
            </div>
            

              <div class="col-lg-6">
                <div class="form-group mt-3">
                <label class="example-margin">Requisitos de Emprendimiento:</label>
                <br>
                <mat-checkbox class="example-margin">Idea de negocio</mat-checkbox>
                <br>
                <mat-checkbox class="example-margin">Impacto sostenible</mat-checkbox>
                <br>
                <mat-checkbox class="example-margin">Innovación</mat-checkbox>
              </div>
            </div>

              <div class="col-lg-6">
                <div class="form-group mt-3">
                  <label class="example-margin">Ubicación Contextualizada:</label>
                  <br>
                  <mat-checkbox class="example-margin">Idea de emprendimiento</mat-checkbox>
                  <br>
                  <mat-checkbox class="example-margin">Modelo de negocio</mat-checkbox>
                  <br>
                  <mat-checkbox class="example-margin">Apoyo concreto</mat-checkbox>
                </div>
              </div>


            <div  class="item2">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Cuéntanos sobre tu idea de negocio</mat-label>
                <input matInput formControlName="dateRequest" required />
                <mat-error
                  *ngIf="
                    this.formRequest.controls.dateRequest.dirty &&
                    this.formRequest.controls.dateRequest.hasError(
                      'required'
                    )
                  "
                  >Este campo es Obligatorio</mat-error
                >

                <mat-error
                  *ngIf="
                    this.formRequest.controls.dateRequest.dirty &&
                    (this.formRequest.controls.dateRequest.hasError(
                      'maxlength'
                    ) ||
                      this.formRequest.controls.dateRequest.hasError(
                        'minlength'
                      ))
                  "
                  >El texto no debe ser mayor a 100 caracteres o menor a 10
                  caracteres</mat-error
                >
              </mat-form-field>
            </div>


          </div>
        </form>
        <div class="row justify-content-center mt-2">
          <button
            mat-raised-button
            class="btn ml-2"
            type="submit"
            (click)="regresar()"
            [disabled]="!formRequest.valid"
          >
            <i class="material-icons mr-2"> group_add </i>
            <span>Guardar</span>
          </button>
        </div>

      </div>

    </div>

  </div>

</div>
