<div class="col-11 mx-auto center-component">
  <div class="align-vertical-center">
    <mat-card class="container">
      <div class="mx-5 my-4">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="font-weight-bold" style="font-size: 28px; color: #2b317f" mat-dialog-title>
              Registrar Emprendimiento
            </h1>
          </div>
        </div>
        <div>
          <form [formGroup]="formRequest">
            <div class="row mt-3">
              <mat-form-field class="col-sm-6 pl-0" appearance="outline">
                <mat-label>Nombre </mat-label>
                <input #name matInput placeholder="" formControlName="nombre" required maxlength="75" />
                <mat-error *ngIf="this.formRequest.controls.nombre.dirty
                  && this.formRequest.controls.nombre.hasError('required')">
                  Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="this.formRequest.controls.nombre.dirty
                  && (this.formRequest.controls.nombre.hasError('maxlength')
                  || this.formRequest.controls.nombre.hasError('minlength'))">
                  El texto no debe ser mayor a 75 caracteres o menor a 4 caracteres
                </mat-error>
                <mat-hint align="end">{{name.value.length}} / 75</mat-hint>
              </mat-form-field>

              <mat-form-field class="col-sm-6 pr-0" appearance="outline">
                <mat-label> Correo</mat-label>
                <input matInput type="email" placeholder="correo@ejemplo.com" formControlName="correo" required />
                <mat-error *ngIf="this.formRequest.controls.correo.dirty
                  && this.formRequest.controls.correo.hasError('required')">
                  Este campo es Obligatorio
                </mat-error>
                <mat-error *ngIf="this.formRequest.controls.correo.dirty
                  && this.formRequest.controls.correo.hasError('email')">
                  Correo Invalido
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-6 pl-0" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input #tel matInput type="tel" formControlName="telefono" required maxlength="8" />
                <mat-error *ngIf="this.formRequest.controls.telefono.dirty
                  && this.formRequest.controls.telefono.hasError('required')">
                  Este campo es obligatorio
                </mat-error>

                <mat-error *ngIf="this.formRequest.controls.telefono.dirty
                  && (this.formRequest.controls.telefono.hasError('maxlength')
                  || this.formRequest.controls.telefono.hasError('minlength'))">
                  El numero de telefono debe ser de 8 caracteres
                </mat-error>
                <mat-error *ngIf="this.formRequest.controls.telefono.dirty 
                  && this.formRequest.controls.telefono.hasError('pattern')">
                  Solo se permiten valores numericos
                </mat-error>
                <mat-hint align="end">{{tel.value.length}} / 8</mat-hint>
              </mat-form-field>
              <mat-form-field class="col-sm-6 pr-0" appearance="outline">
                <mat-label> ¿Cómo contactó con nosotros?</mat-label>
                <input #contact matInput formControlName="aboutUs" required maxlength="100" />
                <mat-error *ngIf="this.formRequest.controls.aboutUs.dirty
                  && this.formRequest.controls.aboutUs.hasError('required')
                  && this.formRequest.controls.dateRequest.dirty
                  && this.formRequest.controls.dateRequest.hasError('required')">
                  Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="this.formRequest.controls.aboutUs.dirty
                  && (this.formRequest.controls.aboutUs.hasError('maxlength')
                  || this.formRequest.controls.aboutUs.hasError('minlength'))">
                  El texto no debe ser mayor a 100 caracteres o menor a 10 caracteres
                </mat-error>
                <mat-hint align="end">{{contact.value.length}} / 100</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-sm-6 pl-0">
                <mat-label>Requisitos de Emprendimiento</mat-label>
                <mat-select formControlName="requerimiento">
                  <mat-option *ngFor="let item of requisitos" [value]="item.idCatalogueChild">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="this.formRequest.controls.requerimiento.dirty
                  && this.formRequest.controls.requerimiento.hasError('required')">
                  Este campo es Obligatorio
                </mat-error>

                <mat-error *ngIf="this.formRequest.controls.requerimiento.dirty 
                  && (this.formRequest.controls.requerimiento.hasError('maxlength') 
                  || this.formRequest.controls.requerimiento.hasError('minlength'))">
                  El texto no debe ser mayor a 30 caracteres o menor a 10 caracteres
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-6 pr-0" appearance="outline">
                <mat-label>Ubicación Contextualizada</mat-label>
                <mat-select formControlName="ubicacion">
                  <mat-option *ngFor="let item of ubicaciones" [value]="item.idCatalogueChild">{{item.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="this.formRequest.controls.ubicacion.dirty 
                  && this.formRequest.controls.ubicacion.hasError('required')">
                  Este campo es Obligatorio
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-12 p-0" appearance="outline">
                <mat-label>Cuéntanos sobre tu idea de negocio</mat-label>
                <textarea #detail matInput formControlName="detalle" required rows="4" maxlength="500"></textarea>
                <mat-error *ngIf="this.formRequest.controls.detalle.dirty 
                  && this.formRequest.controls.detalle.hasError('required') 
                  && this.formRequest.controls.dateRequest.dirty 
                  && this.formRequest.controls.dateRequest.hasError('required')">
                  Este campo es Obligatorio
                </mat-error>

                <mat-error *ngIf="this.formRequest.controls.detalle.dirty 
                  && (this.formRequest.controls.detalle.hasError('maxlength') 
                  || this.formRequest.controls.detalle.hasError('minlength'))">
                  El texto no debe ser mayor a 500 caracteres o menor a 10 caracteres
                </mat-error>
                <mat-hint align="end">{{detail.value.length}} / 500</mat-hint>
              </mat-form-field>
            </div>
          </form>
          <div class="row mt-2">
            <button mat-raised-button class="btn-container mr-4 ml-auto" color="warn" (click)="regresar()">
              <mat-icon>close</mat-icon>
              Cancelar
            </button>
            <button mat-raised-button class="btn-container" color="primary" type="submit" (click)="generarSolicitud()"
              [disabled]="!formRequest.valid">
              <mat-icon>save</mat-icon>
              <span>Guardar</span>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
